@media (min-width: 800px) {
  
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }

    .grid_1-1-1 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
        gap: 4em;
      }
    }