/* Farver:
#F2EFEA beige
#FC7753 orange
#66D7D1 turkis
#403D58 mørkeblå
#DBD56E grøn */
body {
  /* background-color: #f2efea; */
background-image: url("https://i.pinimg.com/564x/94/20/98/942098bbdc06fe613170a6cf12fc2772.jpg");
backdrop-filter: blur(5px);
object-fit: cover;
}

main {
  padding: 4em;
}

footer {
  background-color: #dbd56e;
}

@font-face {
  font-family: "avenir";
  src: url(../font/Avenir.woff2);
}

@font-face {
  font-family: "novecento";
  src: url(../font/Novecento.woff2);
}

h1,
h2 {
  font-family: "novecento";
  font-size: 28px;
  text-align: center;
}

p,
form,
button {
  font-family: "avenir";
  font-size: 20px;
}

img {
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.frontImg img {
  height: 400px;
  width: 100%;
  border-radius: 0;
  z-index: -1;
  place-content: cover;
}

.frontP {
  position: absolute;
  z-index: 1;
  text-align: center;
  background-color: #66d7d1;
  border-radius: 100px;
  padding: 5% 5%;
  left: 42.5%;
}

.category {
  background-color: #fc7753;
  border: 1em solid #fc7753;
  text-align: center;
}

/* knap på måned side */
.button {
  background-color: #66d7d1;
  /* border: solid 1px rgb(20, 20, 20); */
  color: rgb(20, 20, 20);
  text-decoration: none;
  padding: 5px;
  padding-left: 85px;
  padding-right: 85px;
}

.button:hover {
  background-color: #f2efea;
  cursor: pointer;
}

#infoBox {
  background-color: #66d7d1;
  border-radius: 100px 100px;
  padding: 5% 5%;
  line-height: 40px;
}

a {
  text-decoration: none;
  word-wrap: keep-all;
}

.logo{
  height: auto;
  width: 100px;
}

.monthsWheel{
  background-color: #66d7d1;
}